/* Layout Styles */

.container {

    margin: 27 auto;
    padding: 0 2rem;
}

/* Hero Section */
.hero-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 18rem;
    padding-top: 15rem;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 2;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 1200px;
}

/* Articles Section */
.articles-section {
    padding: 0rem 0 13rem;
    background-color: var(--dark-bg);
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding-bottom: 18rem;
    padding-top: 0rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

.section-header {
    text-align: center;
    margin-bottom: 4rem;
}

.section-header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
