/* Character Component */

.character-wrapper {
    position: relative;
}

.pink-circle {
    width: 400px;
    height: 400px;
    background-color: var(--pink);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid var(--white);
    overflow: hidden;
}

.profile-image {
    position: relative;
    top: 13px;
    left: 14px;
    width: 100%;
    height: 100%;
}
