/* Character Component */

.character-wrapper {
    position: relative;
}

.pink-circle {
    width: 400px;
    height: 400px;
    background-color: #d9d9d9;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid var(--white);
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
